

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      
    业务系统与灵珑平台结合方案 - 
    
    </title>
    
    
    
    <link href="atom.xml" rel="alternate" title="" type="application/atom+xml">
    <link rel="stylesheet" href="asset/style.css">
    
</head>
  <body>




        <div id="wrapper">
            <header class="site-header">
                <div class="container">
                    <div class="site-title-wrapper">
                          <a class="button-square" href="index.html">
<svg class="svg-inline--fa fa-home fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>
                            </a>
                        
                         
                        
                        
                        
                        
                      
                      <a class="button-square" href="atom.xml" target="_blank" title="RSS">
                              <svg class="svg-inline--fa fa-rss fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"></path></svg><!-- <i class="fas fa-rss fa-lg"></i> -->
                      </a>

              
                       
                         
                        
                    </div>

                    <ul class="site-nav">
                        
                    </ul>
                </div>
            </header>

            <div id="container">

 
<div class="container">
  <article class="post-container">
    <header class="post-header">
        <h1 class="post-title">业务系统与灵珑平台结合方案</h1>
        <p class="post-date">
                <span>Posted <time datetime="2022/08/08" itemprop="datePublished">2022/08/08</time></span>
            </p>
    </header>

    <div class="post-content clearfix">
<ul>
<li><a href="#%E4%B8%80%E3%80%81%E9%9B%86%E6%88%90%E7%8E%AF%E5%A2%83">一、集成环境</a></li>
<li><a href="#%E4%BA%8C%E3%80%81%E6%BC%94%E5%8F%98%E8%BF%87%E7%A8%8B">二、演变过程</a>
<ul>
<li><a href="#%E7%AC%AC%E4%B8%80%E4%B8%AA%E7%89%88%E6%9C%AC">第一个版本</a></li>
<li><a href="#%E7%AC%AC%E4%BA%8C%E4%B8%AA%E7%89%88%E6%9C%AC">第二个版本</a></li>
<li><a href="#%E7%AC%AC%E4%B8%89%E4%B8%AA%E7%89%88%E6%9C%AC">第三个版本</a></li>
</ul>
</li>
<li><a href="#%E4%B8%89%E3%80%81%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8">三、如何使用</a>
<ul>
<li><a href="#%E5%88%97%E8%A1%A8%E9%9B%86%E6%88%90">列表集成</a></li>
<li><a href="#%E9%A1%B5%E9%9D%A2%E9%9B%86%E6%88%90">页面集成</a></li>
<li><a href="#%E5%AF%BC%E8%88%AA%E6%A0%8F%E9%85%8D%E7%BD%AE">导航栏配置</a></li>
</ul>
</li>
<li><a href="#%E5%9B%9B%E3%80%81%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA">四、效果展示</a></li>
<li><a href="#%E4%BA%94%E3%80%81%E6%89%A9%E5%B1%95%E9%98%85%E8%AF%BB">五、扩展阅读</a></li>
</ul>
<h1><a id="%E4%B8%80%E3%80%81%E9%9B%86%E6%88%90%E7%8E%AF%E5%A2%83" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>一、集成环境</h1>
<p>由于我们本身就是Vue+TS项目，所以直接使用npm集成即可。业务系统集成灵珑开发环境，请仔细阅读：<a href="https://alidocs.dingtalk.com/i/team/9JOGOL2jPWEaz4QL/docs/9JOGOjQ9L8aVjm4Q">灵珑前端集成概述</a>。</p>
<h1><a id="%E4%BA%8C%E3%80%81%E6%BC%94%E5%8F%98%E8%BF%87%E7%A8%8B" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>二、演变过程</h1>
<p>业务系统与灵珑平台的结合使用方案，我们经历了一段摸索时期。在这个过程中，确实遇到了不少问题，但同时也解决了不少问题。在昊哥以及其它大佬的带领下，我们进行了不少跨部门的沟通，也进行了不少内部交流。从最原始的使用方式，慢慢进化，最后形成了一套比较成熟的支撑方案。</p>
<h2><a id="%E7%AC%AC%E4%B8%80%E4%B8%AA%E7%89%88%E6%9C%AC" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>第一个版本</h2>
<p>比较原始，中规中矩，先引入灵珑组件，然后在html模板中使用，pageId 是写在配置文件里的。</p>
<p>缺点：每个模块都要新增一个组件目录，代码高度相似、冗余。</p>
<p>实现：</p>
<ol>
<li>
<p>引入灵珑组件</p>
<pre><code class="language-typescript">import { config, component, View } from &quot;@egova/base-lib&quot;;
import { TableListRenderView } from &quot;@magic/design-web&quot;;
import { DataKey } from &quot;@magic/magic-core&quot;;
import &quot;./index.scss&quot;;

@component({
    template: require(&quot;./index.html&quot;),
    components: {
        &quot;u-tablelist-render&quot;: TableListRenderView
    }
})
export default class VehicleControl extends View {
  	// code...
}
</code></pre>
</li>
<li>
<p>使用灵珑组件</p>
<pre><code class="language-html">&lt;div class=&quot;ll-table-container&quot;&gt;
    &lt;u-tablelist-render :pageId=&quot;dataKey.pageId&quot;&gt;&lt;/u-tablelist-render&gt;
&lt;/div&gt;
</code></pre>
</li>
</ol>
<h2><a id="%E7%AC%AC%E4%BA%8C%E4%B8%AA%E7%89%88%E6%9C%AC" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>第二个版本</h2>
<p>对灵珑组件做二次封装，pageId 也不要写在配置文件里了，直接在导航栏中配置，然后在组件内部解析路由参数得到 pageId。</p>
<p>优点：不需要每个灵珑配置的页面都新增一个组件目录了，具有了较强的可复用性。</p>
<p>缺点：不支持组件内嵌套使用。</p>
<p>实现：（以灵珑列表组件为例）</p>
<ol>
<li>
<p>TS代码</p>
<pre><code class="language-typescript">import { config, component, View } from &quot;@egova/base-lib&quot;;
import { TableListRenderView } from &quot;@magic/design-web&quot;;
import { RouteUtil } from &quot;@/common/utils/route-util&quot;;
import { DataKey } from &quot;@magic/magic-core&quot;;
import &quot;./index.scss&quot;;

@component({
    name: &quot;LLTable&quot;,
    template: require(&quot;./index.html&quot;),
    components: {
        &quot;u-tablelist-render&quot;: TableListRenderView
    }
})
export default class LLTable extends View {
    // 灵珑组件需要
    public dataKey: DataKey = {
        pageId: this.pageId,
        version: &quot;&quot;,
        documentNo: &quot;&quot;
    };

    public mounted() {
        // 初始化pageId
        this.initPageId();
    }

    public beforeRouteEnter(to: any, from: any, next: any) {
        next((vm: any) =&gt; {
            vm.initPageId();
        });
    }

    public initPageId() {
        let param = RouteUtil.getMenuParamByRoute(this.$route);
        this.dataKey.pageId = param?.pageId;
    }
}
</code></pre>
</li>
<li>
<p>HTML</p>
<pre><code class="language-html">&lt;div class=&quot;ll-table-container&quot;&gt;
    &lt;u-tablelist-render v-if=&quot;dataKey.pageId&quot; :pageId=&quot;dataKey.pageId&quot;&gt;&lt;/u-tablelist-render&gt;
    &lt;a-empty v-else class=&quot;empty-pageId&quot; description=&quot;获取 pageId 为空，请检查配置！&quot;/&gt;
&lt;/div&gt;
</code></pre>
</li>
</ol>
<h2><a id="%E7%AC%AC%E4%B8%89%E4%B8%AA%E7%89%88%E6%9C%AC" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>第三个版本</h2>
<p>在第二个版本的基础上，增加props传参，即支持父组件传递 pageId，优先从父组件拿到 pageId，如果拿不到再从路由参数中解析。</p>
<p>优点：1、不需要每个灵珑配置的页面都新增一个组件目录，具有了较强的可复用性；2、支持组件内嵌套使用。</p>
<p>缺点：暂无。</p>
<p>实现：（以灵珑列表组件为例）</p>
<ol>
<li>
<p>TS代码</p>
<pre><code class="language-typescript">import { config, component, View } from &quot;@egova/base-lib&quot;;
import { TableListRenderView } from &quot;@magic/design-web&quot;;
import { RouteUtil } from &quot;@/common/utils/route-util&quot;;
import { DataKey } from &quot;@magic/magic-core&quot;;
import &quot;./index.scss&quot;;

@component({
    name: &quot;LLTable&quot;,
    template: require(&quot;./index.html&quot;),
    components: {
        &quot;u-tablelist-render&quot;: TableListRenderView
    }
})
export default class LLTable extends View {
    // pageId 可以来自2种途径，外部 props 方式传入 、路由参数.
    @config({ default: () =&gt; &quot;&quot; })
    public pageId!: string;

    // 灵珑组件需要
    public dataKey: DataKey = {
        pageId: this.pageId,
        version: &quot;&quot;,
        documentNo: &quot;&quot;
    };

    public mounted() {
        // 初始化pageId
        this.initPageId();
    }

    public beforeRouteEnter(to: any, from: any, next: any) {
        next((vm: any) =&gt; {
            vm.initPageId();
        });
    }

    public initPageId() {
        let param = RouteUtil.getMenuParamByRoute(this.$route);
        this.dataKey.pageId = param?.pageId || this.pageId;
    }
}
</code></pre>
</li>
<li>
<p>HTML</p>
<pre><code class="language-html">&lt;div class=&quot;ll-table-container&quot;&gt;
    &lt;u-tablelist-render v-if=&quot;dataKey.pageId&quot; :pageId=&quot;dataKey.pageId&quot;&gt;&lt;/u-tablelist-render&gt;
    &lt;a-empty v-else class=&quot;empty-pageId&quot; description=&quot;获取 pageId 为空，请检查配置！&quot;/&gt;
&lt;/div&gt;
</code></pre>
</li>
</ol>
<h1><a id="%E4%B8%89%E3%80%81%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>三、如何使用</h1>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208071847255.png" alt="image-20220807184733010" /></p>
<h2><a id="%E5%88%97%E8%A1%A8%E9%9B%86%E6%88%90" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>列表集成</h2>
<pre><code class="language-typescript">// route/index.ts
{
    name: &quot;lawcaseitem&quot;,
    path: &quot;lawcaseitem&quot;,
    meta: {
        icon: &quot;icon-violation-alarmtrack&quot;,
        title: &quot;执法案由&quot;,
        schemaId: &quot;construction:lawcaseitem&quot;
    },
    component: () =&gt; import(&quot;@/components/linglong/table&quot;)
}
</code></pre>
<h2><a id="%E9%A1%B5%E9%9D%A2%E9%9B%86%E6%88%90" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>页面集成</h2>
<pre><code class="language-typescript">// route/index.ts
{
    name: &quot;violation-vehiclecontrol&quot;,
    path: &quot;/vehiclecontrol&quot;,
    meta: {
        icon: &quot;icon-vehicle&quot;,
        title: &quot;车辆管控&quot;
    },
    component: () =&gt; import(&quot;@/components/linglong/page&quot;)
}
</code></pre>
<h2><a id="%E5%AF%BC%E8%88%AA%E6%A0%8F%E9%85%8D%E7%BD%AE" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>导航栏配置</h2>
<p>应用管理——导航栏——子系统——导航项——导航项描述中配置灵珑页面的 pageId 即可。</p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208071807815.png" alt="image-20220807180646122" /></p>
<h1><a id="%E5%9B%9B%E3%80%81%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>四、效果展示</h1>
<ol>
<li>
<p>桃源车辆管控</p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208080738127.png" alt="image-20220808073854596" /></p>
</li>
<li>
<p>滨海政企交流</p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208071948313.png" alt="image-20220807194841025" /></p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208071949342.png" alt="image-20220807194929982" /></p>
</li>
<li>
<p>渣土消纳点公示、执法案由等</p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208080737114.png" alt="image-20220808073745440" /></p>
</li>
</ol>
<h1><a id="%E4%BA%94%E3%80%81%E6%89%A9%E5%B1%95%E9%98%85%E8%AF%BB" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>五、扩展阅读</h1>
<p>【扩展1】<a href="https://alidocs.dingtalk.com/i/team/9JOGOLjlap1oz4QL/docs/9JOGO4r13eeMRz4Q">灵珑列表与手写页面丝滑交互方案</a></p>
<p>【扩展2】<a href="https://docs.dingtalk.com/i/nodes/3mzaPNMZ6jkJqkD32QqQWYLDwXq4Ky1r?nav=share&amp;navQuery=spaceId%3D9JOGOLjlap1oz4QL">灵珑飞天集成案例——龙岩物业</a></p>

    </div>
    <footer class="post-footer clearfix">
      <p class="post-categories">
        <span>Categories:</span>
        
            <a href="%E6%95%B0%E5%AD%97%E6%94%BF%E9%80%9A.html">数字政通</span>, 
           
      </p>
        
    </footer>
     <div class="comments-wrap">
        <div class="share-comments">
          

          

          
        </div>
      </div><!-- end comments wrap -->
  </article>
 </div><!-- end-->



    <footer class="footer">
            <div class="container">
                <div class="site-footer-wrapper">
                        <a class="button-square" href="index.html">
<svg class="svg-inline--fa fa-home fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>
                            </a>
                        
                         
                        
                        
                        
                        
                      
                      <a class="button-square" href="atom.xml" target="_blank" title="RSS">
                              <svg class="svg-inline--fa fa-rss fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"></path></svg><!-- <i class="fas fa-rss fa-lg"></i> -->
                      </a>

              
                       
                                                
                </div>
                <div class="site-menu-wrapper">
                  &nbsp;<span>|</span>&nbsp;
                  
                    <a target="self" class="" href="index.html">Home</a>
                    &nbsp;<span>|</span>&nbsp;
                  
                    <a target="_self" class="" href="archives.html">Archives</a>
                    &nbsp;<span>|</span>&nbsp;
                                             
                </div>

                <p class="footer-copyright">
                        Copyright &copy; 2019
                        Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
                        Theme used <a target="_blank" href="https://blog.timac.org">Timac</a>.
                </p>
            </div>
        </footer>



  













<script src="asset/prism.js"></script>

        
      
  
    


    </body>
</html>
