<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      
    灵珑列表与手写页面丝滑交互方案 - 
    
    </title>
    

    
    
    <link href="atom.xml" rel="alternate" title="" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/style.min.css">
    <link rel="stylesheet" href="asset/css/doc.css">
    <script src="asset/app.js"></script>
</head>
  <body>
    <section class="hero">
      <div class="hero-head">
          <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="container">
              <div class="navbar-brand">
                
                <a target="_self" class="navbar-item " href="index.html">Home</a>
                
                <a target="_self" class="navbar-item " href="archives.html">Archives</a>
                

                <a role="button" id="navbarSNSRssSwitchBtn" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarSNSRssButtons">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
            
              <div id="navbarSNSRssButtons" class="navbar-menu">
                <div class="navbar-start">
                  
                </div>
            
                <div class="navbar-end">
                  <div class="navbar-item">
                    <!--buttons start-->
                    <div class="buttons">
                      
                        
                        
                        
                        
                      
                      <a href="atom.xml" target="_blank" title="RSS">
                          <span class="icon is-large has-text-black-bis">
                              <svg class="svg-inline--fa fa-rss fa-w-14 fa-lg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"></path></svg><!-- <i class="fas fa-rss fa-lg"></i> -->
                          </span>
                      </a>
                    </div>
                    <!--buttons end-->

                  </div>
                </div>
                </div>
              </div>
            </nav>
      </div>

 <div class="hero-body ct-body"></div>
      
    </section>
    <section class="ct-body">
      <div class="container">
          <div class="columns is-variable bd-klmn-columns is-4 is-centered">
              <div class="column is-four-fifths">
                  <div class="post-body single-content">
                    
                    <h1 class="title">
                            灵珑列表与手写页面丝滑交互方案   
                      </h1>
                     
                    
                      <div class="media">
                            
                            <div class="media-content">
                              <div class="content">
                                <p>
                                 <span class="date">2022/10/13</span>
                                  <span class="tran-posted-in">posted in</span>&nbsp; 
                                  
                                      <span class="posted-in"><a href='%E6%95%B0%E5%AD%97%E6%94%BF%E9%80%9A.html'>数字政通</a></span>
                                         
                                  

                                   
                                      
                                  <br />
                                  <span class="tran-tags">Tags:</span>&nbsp;
                                     

                                </p>
                              </div>
                            </div>
                         
                    </div>
                </div>
                  <article class="markdown-body single-content">
                    <ul>
<li><a href="#%E9%9C%80%E6%B1%82%E8%83%8C%E6%99%AF">需求背景</a></li>
<li><a href="#%E5%AE%9E%E7%8E%B0%E6%96%B9%E6%A1%88">实现方案</a>
<ul>
<li><a href="#%E9%A2%84%E6%9C%9F%E7%9B%AE%E6%A0%87">预期目标</a></li>
<li><a href="#%E6%96%B9%E6%A1%88%E6%A6%82%E8%BF%B0">方案概述</a></li>
<li><a href="#%E5%85%B7%E4%BD%93%E6%AD%A5%E9%AA%A4">具体步骤</a>
<ul>
<li><a href="#1%E3%80%81%E9%85%8D%E7%BD%AE%E7%81%B5%E7%8F%91%E5%88%97%E8%A1%A8">1、配置灵珑列表</a></li>
<li><a href="#2%E3%80%81%E7%BB%91%E5%AE%9A%E8%87%AA%E5%AE%9A%E4%B9%89%E5%8A%A8%E4%BD%9C%E3%80%81%E7%BC%96%E5%86%99%E8%84%9A%E6%9C%AC">2、绑定自定义动作、编写脚本</a></li>
<li><a href="#3%E3%80%81%E5%B0%81%E8%A3%85%E7%81%B5%E7%8F%91%E5%88%97%E8%A1%A8%E7%BB%84%E4%BB%B6">3、封装灵珑列表组件</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8">如何使用</a>
<ul>
<li><a href="#1%E3%80%81%E5%BC%95%E5%85%A5%E5%B0%81%E8%A3%85%E5%90%8E%E7%9A%84lltable%E7%BB%84%E4%BB%B6">1、引入封装后的LLTable组件</a></li>
<li><a href="#2%E3%80%81html%E4%B8%AD%E4%BD%BF%E7%94%A8">2、html中使用</a></li>
<li><a href="#3%E3%80%81%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA">3、效果展示</a></li>
</ul>
</li>
<li><a href="#%E6%89%A9%E5%B1%95%E4%B8%8E%E5%B1%95%E6%9C%9B">扩展与展望</a></li>
</ul>
<h1><a id="%E9%9C%80%E6%B1%82%E8%83%8C%E6%99%AF" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>需求背景</h1>
<p>自从公司推出灵珑以来，部门大力支持，在处理项目实际需求的过程中，很多页面都开始采用灵珑来进行开发。但是经常遇到这样的场景：一个功能模块包含很多页面，列表页面可以用灵珑配置，但新增（编辑）、详情或其它子页面过于复杂，用灵珑无法实现或者及其困难，从而只能手写实现。但是经常因为手写的页面需要使用列表里的数据，而灵珑页面和手写页面两者无法直接交互，导致最终不得不将列表也采用手写方式开发。这也无形之中给以前用灵珑实现过的项目蒙上了一层阴影，即万一后面需求发生变更，比如加一个列操作按钮，点击按钮要求打开一个复杂的子页面怎么办？如果子页面灵珑实现不了，难道又倒退回去重写手写列表吗？针对这一难点，本文提供了一套详细解决方案，经过初步测试，基本能否达到预期效果。</p>
<h1><a id="%E5%AE%9E%E7%8E%B0%E6%96%B9%E6%A1%88" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>实现方案</h1>
<p>首先在金总和园姐的陪同下，与灵珑相关研发进行了深度沟通，形成了初步的思路。而后集火园姐、志超等小伙伴的智慧，群策群力，终于弄出了一套解决方案。</p>
<h2><a id="%E9%A2%84%E6%9C%9F%E7%9B%AE%E6%A0%87" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>预期目标</h2>
<ul>
<li>
<p>灵珑列表操作按钮，可以触发手写页面的显示或者隐藏</p>
</li>
<li>
<p>灵珑列表数据能够传递给手写页面</p>
</li>
<li>
<p>手写页面能否触发灵珑列表执行刷新等简单操作</p>
</li>
<li>
<p>灵珑列表与手写页面之间的交互非常丝滑，不能损耗系统性能</p>
</li>
</ul>
<h2><a id="%E6%96%B9%E6%A1%88%E6%A6%82%E8%BF%B0" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>方案概述</h2>
<p><strong>灵珑自定义动作脚本 + 二次封装灵珑列表组件。</strong></p>
<p>灵珑端：给灵珑列表的操作按钮绑定动作，在绑定动作面板中选择自定义动作，编写一段DOM操作的JS脚本。</p>
<p>业务系统端：使用封装好的灵珑列表组件，只关注自己手写页面的实现。</p>
<h2><a id="%E5%85%B7%E4%BD%93%E6%AD%A5%E9%AA%A4" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>具体步骤</h2>
<h3><a id="1%E3%80%81%E9%85%8D%E7%BD%AE%E7%81%B5%E7%8F%91%E5%88%97%E8%A1%A8" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>1、配置灵珑列表</h3>
<p>配置过程请参考相关文档，这里不是重点。如红框所示，为灵珑配置的页面。</p>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208041144500.png" alt="image-20220804114409732" /></p>
<h3><a id="2%E3%80%81%E7%BB%91%E5%AE%9A%E8%87%AA%E5%AE%9A%E4%B9%89%E5%8A%A8%E4%BD%9C%E3%80%81%E7%BC%96%E5%86%99%E8%84%9A%E6%9C%AC" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>2、绑定自定义动作、编写脚本</h3>
<p>列表操作的脚本，目前可以使用如下模板代码。 后续如果有其它脚本可以抽取出来作为模板。这里分两种情况，列表单独存在或者以page嵌入的形式存在，触发列表刷新的方式有所不同。其中后一种更加通用，但是它依赖于一个 id 属性，而不同现场 id 属性可能不同，所以为了减少不必要的麻烦，对于独立的列表，我们还是使用前一种模板，而对于page里嵌入的列表，则我们使用后一种脚本模板。</p>
<pre><code class="language-js">// 如果列表是单独存在的，那么模板脚本如下：
function main(data, event){
     // 显示预先占位的子页面div
     let llSubPage = document.getElementById(&quot;llSubPage&quot;);
     llSubPage.style.transform='translateY(0)';
     
     // 重新组装行数据，灵珑默认的行数据data语义性极差
     let rowData = {};
     let fieldList = this.state.allTableFields;
     if(data &amp;&amp; typeof data === &quot;object&quot;){
       Object.keys(data).forEach((key) =&gt; {
          let value = data[key];
          let field = fieldList.find((item) =&gt; item.columnFieldOption.id === key);
          if (field) {
               rowData[field.columnFieldOption.name] = value;
          }
     		});
     }
    
     // 执行预先定义的回调函数传递数据给业务系统。如果列操作有多个按钮，需指明操作类型，比如：&quot;add&quot;、&quot;edit&quot;、&quot;detail&quot;等。
     window.lingLongCallback(rowData, &quot;detail&quot;);
}


//-------------------------------------------------------------------------------------------------
// 如果是列表以page的形式存在，则模板脚本如下：
function main(data, event){
     // 列表组件实例，根据 id 获得。id可以通过点击“保存按钮”，查看 network 查看 payload 得到。
     var tableComp = this.findElement(&quot;widget_list_table_pc_4e7dy8&quot;);
     // 刷新列表的方法
     function refresh(){
          tableComp.refresh();
     }

     // 显示预先占位的子页面div
     let llSubPage = document.getElementById(&quot;llSubPage&quot;);
     llSubPage.style.transform='translateY(0)';
     
     // 重新组装行数据，灵珑默认的行数据data语义性极差
     let rowData = {};
     let fieldList = this.state.allTableFields;
     if(data &amp;&amp; typeof data === &quot;object&quot;){
          Object.keys(data).forEach((key) =&gt; {
               let value = data[key];
               let field = fieldList.find((item) =&gt; item.columnFieldOption.id === key);
               if (field) {
                    rowData[field.columnFieldOption.name] = value;
               }
          });
     }
    
     // 执行预先定义的回调函数传递数据给业务系统。如果列操作有多个按钮，需指明操作类型，比如：&quot;add&quot;、&quot;edit&quot;、&quot;detail&quot;等。
     // 将refresh方法传递给手写页面使用，从而实现可以刷新灵珑列表的目标。
     window.lingLongCallback({}, &quot;edit&quot;, {refresh: refresh});
}
</code></pre>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208080804468.png" alt="image-20220808080423058" /></p>
<h3><a id="3%E3%80%81%E5%B0%81%E8%A3%85%E7%81%B5%E7%8F%91%E5%88%97%E8%A1%A8%E7%BB%84%E4%BB%B6" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>3、封装灵珑列表组件</h3>
<p>**html模板：**除了封装灵珑的 TableListRender 组件，还内置了一个占位div。默认其实就是存在的，只不过通过 CSS 的 transform 属性将其放置到不可见的位置而已。</p>
<pre><code class="language-html">&lt;div class=&quot;ll-table-container&quot;&gt;
    &lt;u-tablelist-render ref=&quot;llTable&quot; v-if=&quot;dataKey.pageId&quot; :pageId=&quot;dataKey.pageId&quot;&gt;&lt;/u-tablelist-render&gt;
    &lt;a-empty v-else class=&quot;empty-pageId&quot; description=&quot;获取 pageId 为空，请检查配置！&quot;/&gt;

    &lt;!--灵珑列表子页面--&gt;
    &lt;div id=&quot;llSubPage&quot; v-if=&quot;hasSubPage&quot;&gt;
        &lt;!--Vue作用域插槽--&gt;
        &lt;slot :rowData=&quot;rowData&quot; :actionType=&quot;actionType&quot;&gt;&lt;/slot&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<pre><code class="language-css"> #llSubPage{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transform: translateY(110%);
        transition: all 0.5s linear;
}
</code></pre>
<p><strong>TS文件：</strong></p>
<ol>
<li>
<p>定义了一系列属性如下所示。</p>
<table>
<thead>
<tr>
<th>属性</th>
<th>含义</th>
<th>备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>pageId</td>
<td>灵珑需要的核心标识，pageId</td>
<td>注意pageId既可以通过属性传递，也可以通过路由配置自动获取</td>
</tr>
<tr>
<td>hasSubPage</td>
<td>是否包含手写子页面</td>
<td>默认值false，如果包含手写子页面则传true</td>
</tr>
<tr>
<td>refreshOnHide</td>
<td>手写子页面隐藏时是否需要刷新页面</td>
<td>默认为false，如果需要则传true</td>
</tr>
<tr>
<td>onHide</td>
<td>手写子页面隐藏时可执行的外操作，回调函数</td>
<td>默认不执行任何操作，回调函数接收2个参数，参数1-行数据，参数2-灵珑列表对象</td>
</tr>
</tbody>
</table>
</li>
<li>
<p>对外暴露了一个自定义事件名称，使用全局事件总线监听子页面关闭事件。</p>
</li>
<li>
<p>处理了手写子页面关闭时的逻辑。</p>
</li>
<li>
<p>全部源码如下所示：</p>
<pre><code class="language-typescript">import { config, component, View } from &quot;@egova/base-lib&quot;;
import { TableListRenderView } from &quot;@magic/design-web&quot;;
import { RouteUtil } from &quot;@/common/utils/route-util&quot;;
import { DataKey } from &quot;@magic/magic-core&quot;;
import FuncType from &quot;@/models/common/functype&quot;;
import &quot;./index.scss&quot;;

// 灵珑table子页面关闭事件名称
export const EVENT_HIDE_SUBPAGE: string = &quot;EVENT_HIDE_SUBPAGE&quot;;

@component({
    name: &quot;LLTable&quot;,
    template: require(&quot;./index.html&quot;),
    components: {
        &quot;u-tablelist-render&quot;: TableListRenderView
    }
})
export default class LLTable extends View {
    // pageId 可以来自2种途径，外部 props 方式传入 、路由参数.
    @config({ default: () =&gt; &quot;&quot; })
    public pageId!: string;

    // 是否有子页面，灵珑列表与手写页面交互时可用
    @config({ default: () =&gt; false })
    public hasSubPage!: boolean;

    // 隐藏子页面时是否需要刷新列表
    @config({ default: () =&gt; false })
    public refreshOnHide!: boolean;

    // 隐藏子页面后可执行的额外操作
    @config({
        default: () =&gt; () =&gt; {}
    })
    public onHide!: FuncType;

    // 灵珑组件需要
    public dataKey: DataKey = {
        pageId: this.pageId,
        version: &quot;&quot;,
        documentNo: &quot;&quot;
    };

    // 灵珑列表选中的行数据
    public rowData: any = {};

    // 灵珑列表列操作按钮动作类型，常见的如：新增、编辑、删除、详情等
    public actionType: string = &quot;&quot;;

    public mounted() {
        // 初始化pageId
        this.initPageId();

        // 定义回调函数，供灵珑自定义动作脚本使用
        window.llTableCallback = (data: any, type: string=&quot;&quot;) =&gt; {
            this.rowData = data || {};
            this.actionType = type;
        };
        // 绑定监听事件
        (this as any).$bus.$on(EVENT_HIDE_SUBPAGE, this.hide);
    }

    // 解绑监听事件
    public beforeDestroy() {
        (this as any).$bus.$off(EVENT_HIDE_SUBPAGE);
    }

    public beforeRouteEnter(to: any, from: any, next: any) {
        next((vm: any) =&gt; {
            vm.initPageId();
        });
    }

    public initPageId() {
        let param = RouteUtil.getMenuParamByRoute(this.$route);
        this.dataKey.pageId = param?.pageId || this.pageId;
    }

    public hide() {
        let llSubPage = document.getElementById(&quot;llSubPage&quot;) as HTMLElement;
        llSubPage.style.transform = &quot;translateY(110%)&quot;;
        if (this.refreshOnHide) {
            (this.$refs.llTable as any).refresh();
        }
        this.onHide(this.rowData, this.$refs.llTable as any);
    }
}
</code></pre>
</li>
</ol>
<h1><a id="%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>如何使用</h1>
<h3><a id="1%E3%80%81%E5%BC%95%E5%85%A5%E5%B0%81%E8%A3%85%E5%90%8E%E7%9A%84lltable%E7%BB%84%E4%BB%B6" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>1、引入封装后的LLTable组件</h3>
<pre><code class="language-typescript">import { autowired, component, View } from &quot;@egova/base-lib&quot;;
import LLTable from &quot;@/components/linglong/table&quot;;
import Detail from &quot;./detail&quot;;
import Service from &quot;./service&quot;;
import &quot;./index.scss&quot;;

@component({
    name: &quot;ApproveSite&quot;,
    template: require(&quot;./index.html&quot;),
    components: {
        &quot;u-ll-table&quot;: LLTable,
        &quot;u-detail&quot;: Detail
    }
})
export default class ApproveSite extends View {
    @autowired(Service)
    public service!: Service;

    public handleExtra() {
        console.log(&quot;==========额外操作===========&quot;);
    }
}
</code></pre>
<h3><a id="2%E3%80%81html%E4%B8%AD%E4%BD%BF%E7%94%A8" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>2、html中使用</h3>
<p>这里有手写页面、隐藏手写页面时需要刷新灵珑列表、隐藏手写页面时有额外操作。</p>
<pre><code class="language-html">&lt;div class=&quot;height-100&quot;&gt;
    &lt;u-ll-table :hasSubPage=&quot;true&quot; :refreshOnHide=&quot;true&quot; :onHide=&quot;handleExtra&quot;&gt;
        &lt;template slot-scope=&quot;{rowData, actionType}&quot;&gt;
            &lt;!--详情页面--&gt;
            &lt;u-detail :rowData=&quot;rowData&quot;&gt;&lt;/u-detail&gt;
        &lt;/template&gt;
    &lt;/u-ll-table&gt;
&lt;/div&gt;
</code></pre>
<h3><a id="3%E3%80%81%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>3、效果展示</h3>
<p><img src="https://yuanchaowhut.oss-cn-hangzhou.aliyuncs.com/images/202208080849464.gif" alt="2022-08-08 08.47.32" /></p>
<h1><a id="%E6%89%A9%E5%B1%95%E4%B8%8E%E5%B1%95%E6%9C%9B" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>扩展与展望</h1>
<p>1、今后再遇到类似需求，尽量像文档中那样，自定义动作脚本写的通用一些，并且将脚本收集保存，甚至提交到Git仓库中，详细注释方便查阅。</p>
<p>2、本文档只展示了灵珑列表组件与手写子页面的交互方案，但是这个思路是通用的，可以推广到灵珑页面、灵珑表单与手写页面的交互。后期如有类似需求，再进行扩展。</p>
<p>3、解决疑难问题，要善于集合群体的智慧。</p>

                  </article>
                  <div class="comments-wrap">
                    <div class="share-comments">
                      

                      

                      
                    </div>
                  </div><!-- end comments wrap -->
              </div>
            </div><!-- end columns -->
      </div><!-- end container -->
    </section>



    <footer class="footer">
        <div class="content has-text-centered">
          <p>
              Copyright &copy; 2019
              Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
              Theme used <a target="_blank" href="https://bulma.io/">Bulma CSS</a>.
          </p>
        </div>
      </footer>



  













<script src="asset/prism.js"></script>



  
    




  </body>
</html>
